@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Oswald:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
body, html {
    height: 100vh;
}

body {
    background-image: url(../images/hero-img.jpg);
    height: 100%;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

#title {
    font-family: Oswald, sans-serif;
    color: #d51e13;
    text-align: center;
    margin-top: 115px;
    font-weight: 600;
    font-size: 5rem;
    text-shadow: 3px 2px #f2d38c;
}

#quote {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-family: Oswald, sans-serif; 
    font-weight: 700;
    font-size: 2.7rem;
    font-style: italic;
    
}

#movie {
    font-family: Oswald, sans-serif;
    font-size: 2.2rem;
    font-style: italic; 
    display: flex;
    justify-content: center;
}

.controls-container {
   margin-top: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.controls {
    background-color: rgb(31, 24, 24, 0.9) ;
    color: #f2d38c;
    font-family: Bungee Inline, sans-serif;
    height: 70px;
    width: 170px;
    font-size: larger;
    border-radius: 5px;
    border: none;
    
}

.controls:hover{
    background-color: #d51e13;
}


.btn-answer {
  height: 60px;
  width: 95%;
  border: 1px solid #f2d38c;
  background-color: #f2d38c;
  border-radius: 5px;
  color: black;
  font-family: Oswald,sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.question-container {
    background-color: rgba(213, 30, 19, 0.5)  ;
    height: 80%;
    margin-top: 400px;
}

#question {
    color: #f2d38c;
    font-family: Bungee Inline,sans-serif;
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
    text-shadow: 3px 4px black;
    word-spacing: 4px;
    margin-bottom: 50px;
    margin-top: 100px;
}






/* =================================== Media Queries ============================================ */

/* For button controls on start */


@media (min-width: 200px) and (max-width: 576px){
    .controls {
     display: flex;
     margin: auto;
     margin-bottom: 50px;
     text-align: center;
     align-items: center;
     justify-content: center;
       
    }
       
    
}


