@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Oswald:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
body, html {
    height: 100vh;
}

body {
    background-image: url(../images/hero-img.jpg);
    height: 100%;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

#title {
    font-family: Oswald, sans-serif;
    color: #d51e13;
    text-align: center;
    margin-top: 85px;
    font-weight: 600;
    font-size: 5rem;
    text-shadow: 3px 2px #f2d38c;
}

.quote {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    font-family: Oswald, sans-serif; 
    font-weight: 700;
    font-size: 2.7rem;
    font-style: italic;
    text-shadow: 3px 2px #f2d38c;
}

.movie {
    font-family: Oswald, sans-serif;
    font-size: 2.2rem;
    font-style: italic; 
    display: flex;
    justify-content: center;
    text-shadow: 3px 2px #f2d38c;
    margin-bottom: 50px;
}

.controls-container {
   margin-top: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.controls {
    background-color: rgb(31, 24, 24, 0.9) ;
    color: #f2d38c;
    font-family: Bungee Inline, sans-serif;
    height: 70px;
    width: 170px;
    font-size: larger;
    border-radius: 5px;
    border: none;
    
}

.controls:hover{
    background-color: #d51e13;
}

.quote-container {
    height: auto;
    
}
.tracking-container {
    margin-top: 30px;
}

.btn-answer {
  height: 60px;
  width: 95%;
  border: 1px solid #f2d38c;
  background-color: #f2d38c;
  border-radius: 5px;
  color: black;
  font-family: Oswald,sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  
}

.btn-answer:hover {
  border: 1px solid black;
  background-color: black;
  color: #f2d38c;
}

.questions-container {
    background-color: rgba(213, 30, 19, 0.5)  ;
    height: auto;
    margin-top: 30px;
      
}

#question {
    color: #f2d38c;
    font-family: Bungee Inline,sans-serif;
    text-align: center;
    font-size: 2rem;
    text-shadow: 3px 4px black;
    word-spacing: 4px;
    margin-bottom: 40px;
    margin-top: 10px;
    padding-top: 30px;
}

#time-cont, #question-cont, #score-cont{
    font-family: Oswald,sans-serif;
    color: black;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

#time-text {
    margin-top: 30px;
}
#question-text, #score-text{
    margin-bottom: 0;
}
#restart-btn {
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.hidden {
    display: none;
}
/* =================================== Media Queries ============================================ */

/* For button controls on start */


@media (min-width: 200px) and (max-width: 576px){
    .controls {
     display: flex;
     margin: auto;
     margin-bottom: 20px;
     text-align: center;
     align-items: center;
     justify-content: center;
     height: 50px;
    }
    
    #title {
    font-size: 3.5rem;
    }
    
    .quote {
    font-size: 2rem;
    }
    .movie {
    font-size: 1.8rem;
    }

    #time-cont, #question-cont, #score-cont{
    font-size: 1.5rem;  
    margin-top: 5px; 
    }
    #question{
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
    }
    .btn-answer {
       font-size: 1.2rem; 
    }
    .quote-container {
        display: none;
    }
}



